@font-face
  font-family: "Lato"
  font-style: normal
  font-weight: 600
  src: url("fonts/Lato-SemiBold.ttf") format("truetype")

*, *:before, *:after
  box-sizing: border-box
  margin: 0
  padding: 0
  border: 0
  text-decoration: none
  color: inherit
  font-family: "Lato", sans-serif
  font-weight: 400
  line-height: 1

img
  display: block

ul, ol
  list-style: none

html, body
  width: 100%
  background-color: #F3F1EC
  overflow-x: hidden

body
  background-image: url("../img/background.webp")
  background-size: contain
  background-position: 0 80px
  background-repeat: no-repeat
  @media screen and (max-width: 1000px)
    background-position: 0 13px
  @media screen and (max-width: 740px)
    background-size: 100% 300px
  header
    overflow: hidden
    .topbar
      position: relative
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
      height: 44px
      padding: 0 48px
      font-family: "Inter", sans-serif
      font-weight: 400
      font-size: 14px
      line-height: 1
      background-color: transparentize(#EAFFFF, .6)
      box-shadow: 0 0 16px rgba(0, 0, 0, .16)
      -webkit-backdrop-filter: blur(16px)
      backdrop-filter: blur(16px)
      z-index: 50
      @media screen and (max-width: 740px)
        padding: 0 16px
      .left
        ul
          display: flex
          align-items: center
          gap: 8px
          li
            a
              padding: 8px
            .logo
              width: 18px
              height: 18px
            @media screen and (max-width: 1190px)
              &:not(:first-child)
                display: none
      .right
        ul
          display: flex
          align-items: center
          gap: 8px
          .link-icon
            padding: 4px
            display: block
            img
              display: block
              width: 20px
              height: 20px
              @media screen and (max-width: 1190px)
                width: 17px
                height: 17px
          .buy-button
            padding: 4px 16px
            border-radius: 1000px
            background-color: #0071E3
            font-size: 16px
            color: #FFFFFF
            margin-left: 4px
            @media screen and (max-width: 1190px)
              padding: 3px 12px
              font-size: 14px
              margin-left: 0
          .menu-button
            display: none
            margin-left: 8px
            button
              background-color: transparent
              cursor: pointer
            @media screen and (max-width: 1190px)
              display: block
    .hero
      .hero-content
        width: 35%
        margin-top: calc(20px + 14vw)
        margin-left: 12vw
        margin-bottom: 17vw
        color: #FFFFFF
        @media screen and (max-width: 1000px)
          text-align: center
          margin: 448px 16px 48px
          width: calc(100% - 32px)
          color: #1D1D1F
        @media screen and (max-width: 740px)
          margin-top: 300px
        h1
          font-family: "Bebas Neue", sans-serif
          font-size: 7.5vw
          letter-spacing: 2px
          filter: drop-shadow(0 0 20px rgba(0, 0, 0, .2))
          animation-name: title-animation
          animation-duration: 1400ms
          @media screen and (max-width: 1000px)
            font-size: 80px
            letter-spacing: 1px
            filter: none
          @media screen and (max-width: 740px)
            font-size: 64px
        p
          font-size: 2vw
          font-weight: 600
          animation-name: subtitle-animation
          animation-duration: 1400ms
          @media screen and (max-width: 1000px)
            font-size: 22px
            max-width: 316px
            margin: 0 auto
          @media screen and (max-width: 740px)
            font-size: 18px
            max-width: 280px
      .hero-images-container
        position: absolute
        top: -7vw
        right: 128px
        width: 36vw
        height: auto
        @media screen and (max-width: 1190px)
          right: 170px
        @media screen and (max-width: 1000px)
          right: calc(50% - 200px)
          top: -60px
          width: 400px
        @media screen and (max-width: 740px)
          right: calc(50% - 139px)
          top: -60px
          width: 278px
        @media screen and (min-width: 1260px)
          right: 15%
        img
          animation-name: headset-animation
          animation-duration: 1400ms
          pointer-events: none
          user-select: none
          @media screen and (max-width: 740px)
            transform: scaleX(-1)
        .hero-image-back
          z-index: 0
          width: 100%
          height: auto
        .hero-image-front
          position: absolute
          top: 0
          right: 0
          width: auto
          height: 100%
          z-index: 100
  .keypoints
    display: flex
    gap: 32px
    align-items: stretch
    justify-content: center
    width: 100%
    text-align: center
    padding: 0 16px
    @media screen and (max-width: 1000px)
      flex-direction: column
      align-items: center
      padding: 16px
      background: linear-gradient(transparent 0%, rgba(220, 121, 160, .05) 25%, rgba(117, 148, 212, .05) 75%, transparent 100%)
    .keypoint
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      width: 320px
      max-width: 100%
      height: 386px
      padding: 48px 16px
      background-color: rgba(255, 255, 255, .25)
      border-radius: 8px
      -webkit-backdrop-filter: blur(8px)
      backdrop-filter: blur(8px)
      box-shadow: 2px 4px 8px rgba(0, 0, 0, .08), inset 2px 4px 8px rgba(255, 255, 255, .08)
      animation-name: keypoint-animation
      animation-duration: 300ms
      animation-fill-mode: forwards
      animation-timing-function: ease-out
      opacity: 0
      @for $i from 1 through 3
        &:nth-child(#{$i})
          animation-delay: 1450ms + 150ms * ($i - 1)
      .keypoint-icon
        width: 128px
        height: 128px
      h2
        font-size: 20px
        font-weight: 600
        padding: 0 8px
        margin-bottom: 8px
      p
        line-height: 1.4


@keyframes headset-animation
  0%
    transform: translate(70vw, -8vw) rotate(-38deg)
    animation-timing-function: cubic-bezier(0, 0, 0.4, 1)
  45%
    transform: translate(-1vw, 0) rotate(4deg)
    animation-timing-function: ease-in-out
  73%
    transform: translate(1vw, 0) rotate(-2deg)
    animation-timing-function: ease-in-out
  100%
    transform: translate(0, 0) rotate(0deg)
    animation-timing-function: ease-in-out

@media screen and (max-width: 740px)
  @keyframes headset-animation
    0%
      transform: translate(70vw, -8vw) rotate(-38deg) scaleX(-1)
      animation-timing-function: cubic-bezier(0, 0, 0.4, 1)
    45%
      transform: translate(-1vw, 0) rotate(4deg) scaleX(-1)
      animation-timing-function: ease-in-out
    73%
      transform: translate(1vw, 0) rotate(-2deg) scaleX(-1)
      animation-timing-function: ease-in-out
    100%
      transform: translate(0, 0) rotate(0deg) scaleX(-1)
      animation-timing-function: ease-in-out

@keyframes title-animation
  0%,45%
    transform: translateX(-8vw)
    opacity: 0

  73%,100%
    transform: translateX(0)
    opacity: 1

@keyframes subtitle-animation
    0%, 73%
        transform: translateX(2vw)
        opacity: 0
        animation-timing-function: ease-in-out
    100%
        transform: translateX(0)
        opacity: 1

@keyframes keypoint-animation
  0%
    transform: translateY(32px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1